<div class="styles">
	{% for style in include.product.styles %}
		<div class="style" data-item-id="{{ forloop.index }}" {% unless forloop.first %}style="display: none"{% endunless %}>
			<a href="{{ include.product.url }}">
				<img src="{{ site.baseurl }}{{ style.image }}">
			</a>
		</div>
	{% endfor %}
	<div class="style-picker" style="user-select: none;">
		{% for style in include.product.styles %}
			<div style="background-color: white; text-align: center; line-height: 1.5; padding: 1px; font-size: .8em;" data-item-id="{{ forloop.index }}">{{ style.sizeIcon }}</div>
		{% endfor %}
	</div>
</div>
